.homepage {
    position: relative;
 
}

.images1 {
    position: absolute;
    bottom: 1px;
    right: 50%;
    transform: translateX(50%);  
    width: 150px; 
    animation: moveBackground 8s linear infinite alternate;  
}
@keyframes moveBackground {
    0% {
        transform: translateX(50%) rotate(0deg);
    }
    100% {
        transform: translateX(50%) rotate(360deg);
    }
}
.images2 {
    position: absolute;
    bottom: 13%;
    right: 10%;
    width: 150px; 
    animation: rightlrft 3s ease-in-out infinite alternate;
  
}
@keyframes rightlrft {
    0% {
        transform: translatex(0);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translatex(0);
    }
}

 
 
 
.homepage-image img {
    width: 90%;
    height: auto;
    animation: topdown 3s ease-in-out infinite alternate;
}
 
@keyframes topdown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(14px);
    }
    100% {
        transform: translateY(0);
    }
}
